# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment
.env
.env.*

!.env.example

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Logs
*.log

# OS
.DS_Store
Thumbs.db